<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Suppliers Information</h2></div>
        </div>
        <div class="row">
            <div class="col-md-4" *ngFor="let supplier of suppliers">
                <div class="card" style="width: 18rem; margin:10px;">
                    
                    <div class="card-body">
                        <p class="card-text"><b>Category</b> : {{supplier.category}}</p>
                        <p class="card-text"><b>Channel</b> : {{supplier.channel}}</p>
                        <p class="card-text">{{supplier.request_description}}</p>
                        <p class="card-text"><b>Contact</b> : {{supplier.contact_numbers[0]}}</p>  
                        <p class="card-title"><b>State</b>: {{supplier.state}}</p>
                        <p class="card-title"><b>District</b>: {{supplier.district}}</p>
                        <p class="card-title"><b>Source Time</b>: {{supplier.source_time}}</p>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                Current Page : {{currentPage}}
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item"><button class="page-link" (click)="setPage(currentPage-1)">Previous</button></li>
                      <li class="page-item"><button class="page-link" (click)="setPage(currentPage-1)" [disabled]="isDisabled">Previous</button></li>
                      
                      <li class="page-item"><a class="page-link" (click)="setPage(1)">1</a></li>
                      <li class="page-item"><a class="page-link" (click)="setPage(2)">2</a></li>
                      <li class="page-item"><a class="page-link" (click)="setPage(3)">3</a></li>
                      <li class="page-item"><button class="page-link" (click)="setPage(currentPage+1)">Next</button></li>
                      <li class="page-item"><button class="page-link" (click)="setPage(currentPage+1)" [disabled]="isLastDisabled">Next</button></li>
                    </ul>
                  </nav>
            </div>
        </div>
    </div>
</section>

